<div class = 'lista-de-tarefas'>
  <div class="cabecalho-tarefas">
    <h1>{{title}}</h1>
    <input class = 'input-tarefa' type="text" [(ngModel)] = 'tarefa'>
    <button class = 'btn-adicionar' (click) = 'adicionarTarefa()'>Adicionar Tarefa</button>
  </div>
  <div>

    <div class="tarefas">
      <ul>
        <li class = 'li-tarefa' *ngFor="let item of tarefas; let i = index" >
          <div class = 'tarefa'
          [ngStyle]= "{'text-decoration':item.completa ? 'line-through': 'none'}">{{item.descricao}}</div>
           <a *ngIf="!item.completa"  class= 'btn-tarefa' (click)= 'concluirTarefa(i)'>concluida</a>
           <a *ngIf="item.completa"  class= 'btn-tarefa' (click)= 'removerTarefa(i)'>remover</a>
           <a *ngIf="item.completa"  class= 'btn-tarefa' (click)= 'desmarcarTarefa(i)'>desmarcar</a>
        </li>
      </ul>
    </div>
  </div>
</div>
